@charset "utf-8";
/* CSS Document */


.topnav {
  overflow: hidden;
  background-color: ;
}

.topnav a {
  color: #343434;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
  float:right;
  align-content: center;
  font-family: 'BrandonGrotesque-Bold', Helvetica, Arial, sans-serif;
   font-weight:bold;
}

.topnav a:hover {
  background-color: transparent;
  text-decoration: line-through;}

.topnav a.active {
  text-decoration-color:none;
  color: #343434;
 
}